<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>SKY.com</title>
</head>
<body>

<th:block th:fragment="pageHeader">
	<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet"
			href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="/js/util/stringUtil.js" th:src="@{/js/util/stringUtil.js}"></script>
	<script src="/js/util/validator.js" th:src="@{/js/util/validator.js}"></script>
	<script src="/js/dialogConfig.js" th:src="@{/js/dialogConfig.js}"></script>
	<script th:inline="javascript">
		$(() => {
			$('#loginError').dialog(dialogConfig.loginError);
			
			$('button#login').on('click', login);
			$('button#logout').on('click', logout);
		});
		
		let login = (event) => {
			
			let jsonString = {
					'userName': $('div.loginArea input[name=userName]').val(),
					'password': $('div.loginArea input[name=password]').val()
			};
			$.ajax({
				type: 'POST',
				url: '/sky/auth/login',
				data: JSON.stringify(jsonString),
				contentType: 'application/json',
				datatype: 'json',
				scriptCharset: 'utf-8'
			})
			.then((result) => {
				let users = JSON.parse(result);
				let user = users[0];
				if(user == null) {
					$('#loginError').dialog('open');
				} else {
					let userName = user['userName'];
					$('#hiddenUserName').val(user['userName']);
					$('.welcomeMsg').text(`ようこそ！ ${userName} さん`);
					$('button#login').addClass('hidden');
					$('button#logout').removeClass('hidden');
					$('#mypage').removeClass('hidden');
					$('div.loginArea input[name=userName]').val('');
					$('div.loginArea input[name=password]').val('');
				}
			}, ()=> {
				alert('Error: ajax connection failed.');
			});
		};
		
		let logout = (event) =>{
			$.ajax({
				type: 'POST',
				url: '/sky/auth/logout',
				contentType: 'application/json',
				dataType: 'json',
				scriptCharset: 'utf-8'
			})
			.then((result) => {
				$('.welcomeMsg').text(`ようこそ！ ゲスト さん`);
				$('button#login').removeClass('hidden');
				$('button#logout').addClass('hidden');
				$('#mypage').addClass('hidden');
				$('#hiddenUserName').val('');
				alert('ログアウトしました。');
				location.replace('/sky/');
			}, () => {
				console.error('Error: ajax connection failed.');
			});
		}
	</script>
	<div class="headerTop">
		<h1 class="logo"><a href="/sky/"><img src="/img/skylogo.png" style="width:120px; height:25px;" /></a></h1>
		<span class="signup">
			<a href="/sky/user/" th:href="@{/sky/user/}">
			新規ユーザ登録はこちら
			</a>
		</span>
		<span class="welcomeMsg"
			th:text="'ようこそ！ '+${loginSession.getUserName() != null ? loginSession.getUserName() : 'ゲスト'}+' さん'">
		</span>
	</div>
	<nav>
		<div class="loginArea">
				<input type="text" name="userName" />
				<input type="password" name="password" />
				<button id="login" th:class="${loginSession.getUserName() == null ? '' : 'hidden'}">ログイン</button>
				<button id="logout" th:class="${loginSession.getUserName() == null ? 'hidden' : ''}">ログアウト</button>
				<input type="hidden" id="hiddenUserName" value="" />
		</div>
		<ul class="menu">
			<li><a href="/sky/cart/">カート</a></li>
			<li id="mypage" th:class="${loginSession.getUserName() == null ? 'hidden' : ''}">
				<a href="/sky/mypage/">マイページ</a>
			</li>
		</ul>
	</nav>
		<!-- Modal Dialog (ログインエラー) -->
	<div th:insert="fragments/dialog_login_error::dialogLoginError"></div>
	
</th:block>


</body>
</html>